/*
 * Makes the activity stream page look decent with the dark theme.
 * Author: Andrei Cristian Petcu, Screenshot: https://imgur.com/a/WcxGk
 */
.browserContainer {
  background-color: var(--url-and-searchbar-background-color, hsla(0,0%,100%,.8)) !important;
}

#sidebar {
  background-color: #222222 !important;
}

.sidebar-placesTree {
  background-color: #222222 !important;
}


/*
 * Hide "Recent Highlights" from Library
 */
#appMenu-library-recentHighlights {
    display: none !important;
}

photonpanelmultiview .subview-subheader {
    display: none
}

/* Remove New Tab Flash */
@-moz-document url(chrome://browser/content/browser.xul) {
  browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content {
    background: #222222 !important;
  }
}
