[Desktop Entry]
Version=1.0
Name=Firefox Beta
Comment=Browse the Web
Exec=/opt/firefox-beta/firefox %u
Icon=firefox-beta
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;
StartupWMClass=Firefox Beta

[Desktop Action new-window]
Name=New Window
Exec=/opt/firefox-beta/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=/opt/firefox-beta/firefox --private-window %u
